@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply selection:bg-stone-700 selection:text-white;
  }

  html,
  body {
    min-height: 100%;
    height: 100%;
  }

  body {
    @apply bg-neutral-900 text-stone-300 font-serif;
    overflow-x: hidden;
  }

  /* 自定义滚动条 */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-neutral-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-600;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-500;
  }
}

@layer utilities {
  .animate-in {
    animation-range: entry 0% entry 100%;
  }

  .fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .zoom-in-95 {
    animation-name: zoom-in-95;
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes zoom-in-95 {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
